services:
    signInComponentFactory:
        implement: App\Components\ISignInComponentFactory
        inject: yes

    invitationsGridComponentFactory:
        implement: App\Components\IInvitationsGridComponentFactory
        inject: yes

    listImportComponentFactory:
        implement: App\Components\IListImportComponentFactory
        inject: yes

    invitationAnswerComponentFactory:
        implement: App\Components\IInvitationAnswerComponentFactory
        inject: yes

    participantsListImportComponentFactory:
        implement: App\Components\IParticipantsListImportComponentFactory
        inject: yes