{form invitationAnswer}

<div class="radio">
    <p><strong>Vyberte / Choose</strong></p>
        {input ticket_count}
</div>
<div class="text">
    <p><strong>Poznámka / Note</strong></p>
    {input note}
</div>
{input send}

{/form}
