{block content}

	<h1 n:block=title>Zákazníci</h1>
	{control listImport}<br>
	<p>Pozvaných celkem: {$invitationCount} <br>Počet odeslaných pozvání: {$isSentCount} <br>Potvrzených: {$ticketCount}</p>
	{control invitationsGrid}

{/block}
