{block content}

	<h1 n:block=title>Zákazníci</h1>
	{control listImport}<br>
<div class="row">
	<div class="col-md-2">
		<p>Počet odeslaných pozvání: {$isSentCount}</p>
	</div>
</div>
	{control invitationsGrid}

{/block}
